<a class="bg-[var(--bg-color)] gap-2 items-center w-full px-4 sm:px-8 py-4 rounded-lg flex hover:scale-105 transition-transform" href="<%- link %>" style="--bg-color:<%- color %>">
    <img src="<%- path %>/static/images/<%- image %>" alt="" class="object-contain w-10" />
    <p class="text-2xl text-slate-50"><%- text %></p>
</a>