<a href="<%- path %>/<%- pack.id %>" class="flex items-center w-full h-full gap-2 p-4 rounded-md sm:gap-4 bg-slate-800">
    <%- include('/components/Image', {homeserverUrl, image: pack.image}); %>
    <div>
        <p class="text-lg sm:text-2xl line-clamp-1"><%- pack.name %></p>
        <p class="text-sm sm:text-lg line-clamp-1"><%- pack.author %></p>
        <p class="text-xs sm:text-base"><span class="<%- PackRatingClass(pack.rating) %>"><%- pack.rating %></span> | <%- pack.stickers %> stick </p>
    </div>
</a>