<div class="flex items-center w-full h-full gap-2 py-2 rounded-md bg-slate-800 sm:gap-4" id="stickerpackdesc">
    <div class="px-2">
        <%- include('/components/Image', {homeserverUrl, image: stickerset.stickers[0].id}); %>
    </div>
    <div class="px-2">
        <p class="text-xl font-bold sm:text-2xl line-clamp-1"><%- stickerset.title %></p>
        <% if (stickerset.hasOwnProperty("author") && stickerset.author.hasOwnProperty("name") && stickerset.author.name) { %>
            <% if (stickerset.author.hasOwnProperty("url") && stickerset.author.url) { %>
                <a class="text-lg underline sm:text-xl" href="<%- stickerset.author.url %>"><%- stickerset.author.name %></a>
            <% } else { %>
                <p class="text-lg sm:text-xl"><%- stickerset.author.name %></p>
            <% }; %>
        <% }; %>
        <% if (stickerset.hasOwnProperty("rating") && stickerset.rating) { %>
            <p class="text-lg sm:text-xl <%- PackRatingClass(stickerset.rating) %>"><%- stickerset.rating %></p>
        <% }; %>
    </div>
</div>