<!DOCTYPE html>
<html lang="en">
    <%- include('/components/Head', {title, description, image, path, isDev}); %>
    <body class="overflow-x-hidden text-white">
        <%- include("/components/Header", {path, stickerset}) %>
        <div class="fixed inset-0 min-h-screen -z-10 tiledBackground"></div>
        <div class="fixed inset-0 min-h-screen -z-20 bg-gradient-to-b from-gray-900 to-black"></div>
        <div class="container px-8 py-4 mx-auto">
            <% if (page == "index") { %>
                <div class="grid w-full h-full grid-cols-1 gap-2 lg:grid-cols-2 2xl:grid-cols-3">
                    <% packs.forEach(function(pack){ %>
                        <%- include('/components/Link/Stickerset', {path, homeserverUrl, pack}); %>
                    <% }); %>
                </div>
            <% }; %>

            <div class="flex flex-wrap items-center gap-4 py-4 mx-auto">
                <a class="flex items-center gap-2 text-lg" href="https://wah.su/radiquum"> <span>by @radiquum</span> <img class="object-contain w-8 rounded-full aspect-square" src="https://radiquum.wah.su/static/avatar_512.jpg" alt="" /></a>
                <div class="flex items-center gap-2">
                    <p class="text-lg">Find us on:</p>
                    <a href="https://github.com/wah-su"><img class="object-contain w-8 rounded-full aspect-square" src="<%- path %>/static/images/github-mark-white.png" alt="github" /></a>
                    <a href="https://wah.su"><img class="object-contain w-8 rounded-full aspect-square" src="<%- path %>/static/images/captive_portal_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="website" /></a>
                </div>
            </div>
        </div>
        <script src="<%- path %>/static/RenderImages.js"></script>
    </body>
</html>